@layer components {
    .btn {
        display: inline-flex;
        cursor: pointer;
        user-select: none;
        color: var(--color-white);
        background-color: var(--brand);
        font-size: var(--text-sm);
        padding: 0.3em;
        margin-bottom: 0.1em;
        border-radius: var(--radius-md);
        transition: 0.3s;
        text-decoration: none;
        &:hover {
            background-color: var(--brand-hover);
            @apply ring-1 ring-sky-500;
        }
        &.navopen {
            border-radius: 0;
            box-sizing: content-box;
            border: 0;
            width: 0.75em;
            height: 0.75em;
            padding: 0.25em;
            box-shadow: unset;
            background: transparent var(--hamburger-icon) center / 0.75em auto no-repeat;
        }
        &.transparent {
            box-shadow: unset;
            background-color: unset;
            border-radius: unset;
            transition: 0.3s;
            &:hover {
                color: var(--color-sky-400);
                
            }
        }
    }
    .badge {
        display: inline-flex;
        color: var(--color-white);
        background-color: var(--brand);
        font-size: var(--text-sm);
        padding: 0.3em;
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-md);
        border: unset;
    }
}