@layer components {
    .card {
        display: flex;
        flex-direction: column;
        border: 0;
        color: var(--color-white);
        border-radius: var(--radius-md);
        background-color: var(--color-gray-800);
        transition: 0.3s;
        @apply ring-1 ring-sky-500;
    }
    .card > .body {
        padding: 0.75em;
        text-align: left;
    }
    a.card-link {
        color: unset;
        transition: unset;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
    }
    a.card-link .card:hover {
        @apply ring-2 ring-sky-300;
    }
}