---
import Default from "../layouts/Default.astro";
import Alert from "../components/Alert.astro";
---
<Default title="Contact us" description="Get in touch with us if you are willing to use one of our services" banner={true}>
<Alert type="info">
<p>Our contact form is currently unavailable as we are in the process of remaking it from scratch! Please use our support email if you have a question about our services for the time being!</p>
</Alert>
</Default>