---
import Loader from '/src/data/images/loading-image.svg'
---
<div class="pageloader">
<div class="contain">
<Loader width={67} height={67} />
<span class="title">Loading the requested page..</span>
<span id="errmsg"></span>
</div>
</div>